<h1 class="ui header">Musical Billboards</h1>
<% @billboard.each do |bill| %>
  <h1><%=bill.title%></h1>
  <%= link_to "Edit Billboard", edit_billboard_path(bill) %> |
  <%= link_to "Show Billboard", billboard_path(bill) %> |
  <%= link_to "Delete Billboard", billboard_path(bill.id), method: :delete %>
<% end %>
<br />
<br /> 
<br />
<%= link_to "New Billboard", new_billboard_path %> 